.large-header {
   position: relative;
   width: 100%;
   background: #010816;
   overflow: hidden;
   background-size: cover;
   background-position: center center;
   z-index: 1;
   # background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg");
}

#container {
   position: absolute;
   margin: 0;
   padding: 0;
   color: #F9F1E9;
   text-align: center;

   top: 0;
   left: 0;
   -webkit-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);

}